@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300italic,400italic,500,700italic,500italic,700,900,900italic);
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0;pointer-events:none; }
html { font-size : 100.01%; overflow-y : scroll; -webkit-overflow-scrolling : touch; -webkit-tap-highlight-color : rgba(0,0,0,0); -webkit-text-size-adjust : 100%; -ms-text-size-adjust : 100%; -ms-text-size-adjust : 100%; color : #999; background-position: left top; background-repeat: repeat; }
html,body { background: #444; position: relative; font-family: 'Roboto', Arial, sans-serif; font-size: 16px; height: 100%; }
    .wrapper { position: relative; height: 100%; min-height: 700px; padding:20% 10% 10%;}
    .Header { position: relative; z-index: 2; font-size: 10em; line-height: 2; color: #FFF; text-align: center;pointer-events:none; }
    .fundal { 
        position: absolute; width: 100%; height: 100%; left: 0; right: 0; top: 0; bottom: 0; 
      -webkit-transition: opacity 1s ease-in-out;
      -moz-transition: opacity 1s ease-in-out;
      -o-transition: opacity 1s ease-in-out;
      transition: opacity 1s ease-in-out;
      /*opacity:0;
      -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);*/
    -webkit-animation-name: ChangeImages;
       -moz-animation-name: ChangeImages;
            animation-name: ChangeImages;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: 1;
    }

    @-webkit-keyframes ChangeImages {
     0% { background-image: url('http://dev.iliutastoica.ro/tests/Glitch-CSS/img/me-glitch-01.png'); }
     8% { background-image: url('http://dev.iliutastoica.ro/tests/Glitch-CSS/img/me-glitch-02.png'); }
    16% { background-image: url('http://dev.iliutastoica.ro/tests/Glitch-CSS/img/me-glitch-03.png'); }
    24% { background-image: url('http://dev.iliutastoica.ro/tests/Glitch-CSS/img/me-glitch-04.png'); }
    32% { background-image: url('http://dev.iliutastoica.ro/tests/Glitch-CSS/img/me-glitch-05.png'); }
    40% { background-image: url('http://dev.iliutastoica.ro/tests/Glitch-CSS/img/me-glitch-06.png'); }
    48% { background-image: url('http://dev.iliutastoica.ro/tests/Glitch-CSS/img/me-glitch-07.png'); }
    56% { background-image: url('http://dev.iliutastoica.ro/tests/Glitch-CSS/img/me-glitch-08.png'); }
    64% { background-image: url('http://dev.iliutastoica.ro/tests/Glitch-CSS/img/me-glitch-09.png'); }
    82% { background-image: url('http://dev.iliutastoica.ro/tests/Glitch-CSS/img/me-glitch-10.png'); }
    90% { background-image: url('http://dev.iliutastoica.ro/tests/Glitch-CSS/img/me-glitch-11.png'); }
    98% { background-image: url('http://dev.iliutastoica.ro/tests/Glitch-CSS/img/me-glitch-12.png'); }
   100% { background-image: url('http://dev.iliutastoica.ro/tests/Glitch-CSS/img/me-glitch-13.png'); }
}

@keyframes ChangeImages {
     0% { background-image: url('http://dev.iliutastoica.ro/tests/Glitch-CSS/img/me-glitch-01.png'); }
     8% { background-image: url('http://dev.iliutastoica.ro/tests/Glitch-CSS/img/me-glitch-02.png'); }
    16% { background-image: url('http://dev.iliutastoica.ro/tests/Glitch-CSS/img/me-glitch-03.png'); }
    24% { background-image: url('http://dev.iliutastoica.ro/tests/Glitch-CSS/img/me-glitch-04.png'); }
    32% { background-image: url('http://dev.iliutastoica.ro/tests/Glitch-CSS/img/me-glitch-05.png'); }
    40% { background-image: url('http://dev.iliutastoica.ro/tests/Glitch-CSS/img/me-glitch-06.png'); }
    48% { background-image: url('http://dev.iliutastoica.ro/tests/Glitch-CSS/img/me-glitch-07.png'); }
    56% { background-image: url('http://dev.iliutastoica.ro/tests/Glitch-CSS/img/me-glitch-08.png'); }
    64% { background-image: url('http://dev.iliutastoica.ro/tests/Glitch-CSS/img/me-glitch-09.png'); }
    82% { background-image: url('http://dev.iliutastoica.ro/tests/Glitch-CSS/img/me-glitch-10.png'); }
    90% { background-image: url('http://dev.iliutastoica.ro/tests/Glitch-CSS/img/me-glitch-11.png'); }
    98% { background-image: url('http://dev.iliutastoica.ro/tests/Glitch-CSS/img/me-glitch-12.png'); }
   100% { background-image: url('http://dev.iliutastoica.ro/tests/Glitch-CSS/img/me-glitch-13.png'); }
}
.generator { position:absolute; bottom:0; z-index:3; pointer-events:none; color:#999;}

.glitch{
  color:white;
  font-size:7em;
  font-weight:bold;
  position:relative;
  width:auto;
  margin:0 auto;
  max-width:80%;
  background:rgba(0,0,0,0.95);
  letter-spacing:1px;
  z-index:3;
}
@keyframes noise-anim{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:after{
  content:attr(data-text);
  position:absolute;
  left:2px;
  text-shadow:-1px 0 red;
  top:0;
  color:white;
  background:black;
  overflow:hidden;
  clip:rect(0,900px,0,0); 
  animation:noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:before{
  content:attr(data-text);
  position:absolute;
  left:-2px;
  text-shadow:1px 0 blue; 
  top:0;
  color:white;
  background:rgba(0,0,0,0.25);
  overflow:hidden;
  clip:rect(0,900px,0,0); 
  animation:noise-anim-2 3s infinite linear alternate-reverse;
}